@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTitle</td>
            <td>
                @(((DateTime)
            item.BlogCreateDate).ToString("dd-MM-yyyy"))
            </td>
            <td>@item.Category.CategoryName</td>
            @if (@item.BlogStatus == true)
            {
                <td>Aktif</td>
            }
            else
            {
                <td>Pasif</td>
            }
            <td><input type="button" onclick="deleteConfirm(@item.BlogID)" class="btn btn-danger" value="Sil" /></td>
            @*<td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>*@
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
        </tr>

    }
</table>
<a href="/Blog/BlogAdd" class="btn btn-primary">Yeni Blog Oluştur</a>


<script>
    function deleteConfirm(id) {
        if (confirm("Seçilen blog silinecektir. Onaylıyor musunuz?") == true) {
            $.ajax({
                url: '/Blog/DeleteBlog',
                data: { id: id }
            }).done(function() {
                alert('Silinmiştir.');
                window.location = "/Blog/BlogListByWriter";
            });
        }
    }
</script>
